alias grl='grep -rl '
alias p='cd ~/repos/puppet'
alias x="exit"
alias sudo="sudo "
alias grep='grep --color '
alias grepr='grep -rl --color '
alias -g L=" | less "
alias -g G=" | grep "


# Packages
alias upd="sudo yum update "
alias ins="sudo yum install "

# IP lookups
alias mypip="curl icanhazip.com"
alias myip="hostname -I"

alias server="sudo python -m SimpleHTTPServer 80"
alias tf="tail -f"

alias digs="dig +short "
alias v="vim "
alias vr="vim -R"
alias sv='sudo vim '
alias tree="git log --graph --decorate --pretty=oneline --abbrev-commit"

# cd by .. or ... or ... or mv file ..../.
alias '..'='cd ..'
alias '...'='cd ../..'
alias '....'='cd ../../..'
alias '.....'='cd ../../../..'
alias c="clear"
alias cl="clear; ls"
alias ll="ls -la "

# Power mgmt
alias hib='systemctl hibernate'
alias sus='systemctl suspend'
alias reb='reboot'
alias off='poweroff'
# To logout, press Mod+shift+e (like exit).


alias fuck='sudo $(history -p \!\!)' 
alias loc='locate'
alias service='sudo service '
alias psp='ps aux|grep ' 
alias ssh='ssh -v '
