alias -g L=" less "
alias -g G=" grep --color=always "
alias grl='grep -rl --color=always '
alias gri='grep -irn --color=always '
alias w='cd ~/code/work/puppet'
alias p='cd ~/code/personal'
alias s="sudo -E "
alias ggr='\git \grep '

# Packages
alias up="sudo dnf update "
alias in="sudo dnf install "
alias yus="sudo dnf search " 

# IP lookups
alias mypip="curl icanhazip.com"
alias myip="hostname -I"

alias server="sudo python -m SimpleHTTPServer "
alias tf="tail -f"

alias digs="dig +short "
alias v="vim "
alias vr="vim -R"

# cd by .. or ... or ... or mv file ..../.
alias '..'='cd ..'
alias '...'='cd ../..'
alias '....'='cd ../../..'
alias '.....'='cd ../../../..'
alias cl="clear; ls"
alias ll="ls -la "

# Power mgmt
alias hib='systemctl hibernate'
alias sus='systemctl suspend -i'
alias reb='reboot'
alias off='poweroff'
# To logout, press Mod+shift+e (like exit).


alias fuck='sudo $(history -p \!\!)' 
alias loc='locate'
alias psg="ps aux|grep "
alias sshv='ssh -vvv '
alias wc='wc -l'

alias pgg='echo "Pinging google.com..."; ping -c 5 google.com'
alias xbox='ssh -A xbox'

# Services
function rel() { sudo service $1 reload; }
function res()  { sudo service $1 restart; }
function sto() { sudo service $1 stop; }
function sta() { sudo service $1 status; }

# Screen
alias sls='screen -ls'
alias sca='screen -dRR'

# Tmux
alias tls='tmux ls'
alias tma='tmux -2 a || tmux -2 new'
alias tkl='tmux kill-session -t '

# Git
alias gso='git show '
alias gdc='git diff --cached '
function push { git pull -v && git commit -v -m "$1" && git push -v; }
alias my="glo --author=sumesh"
alias gla='git log --format="%C(yellow)%h%Creset %s %C(green) %an %Creset %C(cyan)%cr%Creset"'
alias glaa='git log --format="%C(yellow)%h%Creset %s %C(green) %an %Creset %C(cyan)%cr%Creset" | egrep -v "Merge branch|varnish-app" | less'
alias glp='git log -p '
alias mirror="wget --mirror --convert-links --adjust-extension --page-requisites --no-parent "

# Open with
# alias -s sh='vim '
# alias -s py='vim '
# alias -s pp='vim '
# alias -s rb='vim '

# Clipboard
alias pbcopy='xclip -i -selection c '
alias pbpaste='xclip -o -selection c > '
alias dif='diff --suppress-common-lines --side-by-side'

alias digs='dig +short '
alias pd='pydoc '

alias lapoff='xrandr --output eDP1 --off'
alias work='source ~/.xprofile; xrandr --output eDP1 --off'
alias home='xrandr --output eDP1 --off'
alias wiki='cd ~/wiki'
alias ws='nohup ~/wiki/wikiserver.py > /dev/null &'
alias wk=" ps a|grep wikiserver|grep python| grep wikiserver.py|cut -f1 -d' '|xargs kill "
